
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mark.css">
    <title>MARK ATTENDANCE</title>
    
</head>
<h1>MARK ATTENDANCE</h1>
<style>
  h1{
    text-align: center;
  }
</style>
<body>
    <form action="/" class="form" method="POST"></form>
 
  
    <table class="custom-table">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ATTENDANCE</th>
        </tr>
        <tr>
            <td><input type="enter id"> </td>
            <td><input type="enter name"></td>
            <td><input type></td>
        </tr>
        <tr>
            <td><input type="enter id"> </td>
            <td><input type="enter name"></td>
            <td><input type></td>
        </tr>
        <td><input type="enter id"> </td>
            <td><input type="enter name"></td>
            <td><input type></td>
            <tr>
              <td><input type="enter id"> </td>
              <td><input type="enter name"></td>
              <td><input type></td>
          </tr>
          <tr>
            <td><input type="enter id"> </td>
            <td><input type="enter name"></td>
            <td><input type></td>
        </tr>
        <tr>
          <td><input type="enter id"> </td>
          <td><input type="enter name"></td>
          <td><input type></td>
      </tr>

    </table>
    
    <button class="logout-button">logout</button>
    <button class="submit-button">submit</button>
</form>
</body>
</html>
