{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student login</title>
    <link rel="stylesheet" href="{%static 'stu.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    
    <form action="/" class="form" method="POST">
      {% csrf_token %}
      <a class="ri-arrow-left-s-line" href="/"></a>
        <p class="form-title">Sign in to your account</p>
         <div class="input-container">
           <input for="username" type="text" name = "username" placeholder="Enter your Username">
       </div>
       <div class="input-container">
           <input for="password" type="password" name = "password" placeholder="Enter password">
         </div>
          <button type="submit" class="submit">
         Sign in
       </button>
      
       <p class="signup-link">
         No account?
         <a href="/reg">Sign up</a>
       </p>
    </form>
 
</body>
</html>