*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1519452575417-564c1401ecc0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-position: center;
}

.card {
    background-color: #fff;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 10px;
  }
  
  .card-header {
    background-color: #4F46E5;
    padding: 16px;
    text-align: center;
  }

  .card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  
  .card-body {
    padding: 16px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 95%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    background-color: #4F46E5;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 35%;
  }
  
  .btn:hover {
    background-color: #ccc;
    color: #333;
  }

   .text-header a{
      color: white;
      text-decoration: none;
      margin-bottom: -6%;
      align-items: center;
      display: flex;
  }
  .ri-arrow-left-s-line{
    margin: 3%; 
  }

  .ri-home-4-line{
    margin-left: 90%;
  }